# Telegram
TELEGRAM_TOKEN=PEGAR_TOKEN_DE_BOTFATHER
TELEGRAM_ADMIN_ID=8823167645

# Cloudflare
CF_API_TOKEN=PEGAR_API_TOKEN_CLOUDFLARE
CF_ZONE_ID=PEGAR_ZONE_ID
BASE_DOMAIN=golbertvps.net.pe

# VPS
VPS_IP=45.41.207.172

# Base local
ACCESS_DB=usuarios.db

